:root {
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe,
    #41d1ff
  );
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    50deg,
    #bd34fe,
    #41d1ff
  );
  --vp-home-hero-image-filter: blur(72px);
  --vp-code-color: var(--vp-c-red-2);
  --vp-font-family-base: "v-sans";
}

.VPButton.brand {
  background-color: #853ef5 !important;
}

#ipt {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s;
}
#ipt:focus {
  border-color: var(--vp-c-brand-1);
}
/* vp-doc style */
.vp-doc table {
  display: table !important;
  width: 100%;
}

.vp-doc tr:nth-child(2n) {
  background-color: transparent !important;
}

.vp-doc th {
  color: unset !important;
}
#error {
  color: var(--vp-c-danger-1);
}
pre {
  white-space: break-spaces !important;
  box-shadow: 0 0 10px 0 var(--vp-c-gray-1);
  padding: 15px;
}

.xl-button {
  cursor: pointer;
  border: 1px solid;
  outline: none;
  padding: 8px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  margin: 0 10px;
  transition: all 0.3s;
}

.xl-button:hover {
  opacity: 0.8;
}

.xl-button:active {
  opacity: 1;
}

.xl-button + .xl-button {
  margin-left: 10px;
}

.xl-button--default {
  color: #606266;
  background: #fff;
  border-color: #dcdfe6;
}

.xl-button--primary {
  background: #1890ff;
  border-color: #1890ff;
}

.xl-button--success {
  background: #52c41a;
  border-color: #52c41a;
}

.xl-button--info {
  background: #909399;
  border-color: #909399;
}

.xl-button--warning {
  background: #faad14;
  border-color: #faad14;
}

.xl-button--danger {
  background: #f5222d;
  border-color: #f5222d;
}
