:root {
  --color-start: rgba(24, 160, 88, 0.6);
  --color-end: #18a058;
  --rotate: 252deg;
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #81fbb8 10%,
    #28c76f 100%
  );
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    var(--rotate),
    var(--color-start) 0%,
    var(--color-end) 100%
  );

  --vp-home-hero-image-filter: blur(72px);
  --vp-code-color: var(--vp-c-red-2);
  --vp-font-family-base: "v-sans";
  --vp-c-brand-1: #0c7a43;
  --vp-c-brand-2: #36ad6a;
  --vp-c-brand-3: #18a058;
}
.n-input {
  max-width: 200px;
}
.n-spin-container {
  width: fit-content;
}

html.dark {
  --color-start: #63e2b7;
  --color-end: rgb(42, 148, 125);
  --vp-c-brand-1: #5acea7;
  --vp-c-brand-2: #36ad6a;
  --vp-c-brand-3: #18a058;
}

/* vp-doc style */
.vp-doc table {
  display: table !important;
  width: 100%;
}

.vp-doc tr:nth-child(2n) {
  background-color: transparent !important;
}

.vp-doc th {
  color: unset !important;
}
.n-card {
  box-shadow: var(--box-shadow-1);
}
.n-card > .n-card-header {
  padding-bottom: 0;
}
pre {
  white-space: break-spaces !important;
  font-size: 16px;
}

.xl-button {
  cursor: pointer;
  border: 1px solid;
  outline: none;
  padding: 8px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;

  transition: all 0.3s;
}

.xl-button:hover {
  opacity: 0.8;
}

.xl-button:active {
  opacity: 1;
}

.xl-button + .xl-button {
  margin-left: 10px;
}

.xl-button--default {
  color: #606266;
  background: #fff;
  border-color: #dcdfe6;
}

.xl-button--primary {
  background: #1890ff;
  border-color: #1890ff;
}

.xl-button--success {
  background: #18a058;
  border-color: #18a058;
}

.xl-button--info {
  background: #909399;
  border-color: #909399;
}

.xl-button--warning {
  background: #faad14;
  border-color: #faad14;
}

.xl-button--danger {
  background: #f5222d;
  border-color: #f5222d;
}
