html.dark {
  --vp-code-block-bg: var(--vp-c-bg-alt, #161618);
}

/* vp-doc style */
.vp-doc table {
  display: table !important;
  width: 100%;
}

.vp-doc tr:nth-child(2n) {
  background-color: transparent !important;
}

.vp-doc th {
  color: unset !important;
}
